@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div>
    <h1>Authenticated User Layout</h1>
    @Body
</div>

@code
{
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            // Do something...
        }
    }
}