@page
@model BinaryWorks.CleanArchitectureTemplate.BlazorUI.Pages.Auth0.Auth0Callback

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>